body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
}

.image-box {
    width: 300px;
    height: 80px;
    border: 4px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 10%;
}

h1,h2{
    magin-top: 30px;
}

table{
    /* border-collapse: collapse; */
    margin-bottom: 20px;;
}

table, th, td {
    border: 1px solid black;
    padding: 4px 4px;
}

form input[type="text"],
form select,
form textarea {
    width: 200px;
    padding: 4px;
}

textarea {
    height: 50px;
}

button {
    margin-top: 10px;
}


.footer-links {
    margin-top: 40px;
}